In [1]:
import csv
import numpy as np
import sys

In [2]:
csv_path = "/home/himanshuchaudhary/jupyter notebooks/parse.csv"

In [3]:
i = 0 
with open(csv_path, 'r') as f:
    for line in f:
        line = line.rstrip('\n') #removing next line characters
        if line in '':
            continue #checking for the last line when there is no data
        if i!=0:
            val = np.append(val,np.array([line.split(',')],dtype='object'),axis=0) # appending next values
        else:
            val = np.array([line.split(',')],dtype='object') # geting first column which are name and storing them in numpy arrays
            i=1

In [16]:
print("col names ===> ", val[0])
print("total rows ===>", val.shape)
print("type of data", type(val))
print()
print("===== values =======")
print()
for _ in val[1:]:
    print(_)

col names ===>  ['first_name' 'last_name' 'address' 'city' 'state' 'zip_code']
total rows ===> (4, 6)
type of data <class 'numpy.ndarray'>

===== values =======

['Tyrese' 'Hirthe' '1404 Turner Ville' 'Strackeport' 'NY' '19106-8813']
['Jules' 'Dicki' '2410 Estella Cape Suite 061' 'Lake Nickolasville' 'ME'
 '00621-7435']
['Dedric' 'Medhurst' '6912 Dayna Shoal' 'Stiedemannberg' 'SC' '43259-2273']

# CSV SAMPLE USED

In [ ]:
"""
first_name,last_name,address,city,state,zip_code
Tyrese,Hirthe,1404 Turner Ville,Strackeport,NY,19106-8813
Jules,Dicki,2410 Estella Cape Suite 061,Lake Nickolasville,ME,00621-7435
Dedric,Medhurst,6912 Dayna Shoal,Stiedemannberg,SC,43259-2273

"""